body {
    margin: 0px;
}
ul {
    list-style: none;
}
.container {
    width: 1400px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
.hidden {
    display: none;
}